
/* RESET STYLES  */

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 90%;
    display: block;
}


body{
    width: 100%;
    min-height: 100dvh;
    background-color: hsl(233, 47%, 7%);
    line-height: 1.1;
    font-size: 2.3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* LAYOUT STYLING */

.grid-template-container{
    max-width: 60%;
    height: 100%;
    margin-inline: auto;
}

.grid-column-holder{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(3, 13rem);
    max-width: 60rem;
    grid-template-areas: 'column1 column2 column3'
                         'column1 column2 column3'
                         'column1 column4 column4';
    border: 2px solid red;
    gap: 1rem;
}

/* for a grid to work properly, after applying it to the general
grid container as shown above, apply it to its children as shown
below, without this grid applied below, it wont work */

.grid-column-holder > * {
    display: grid;
    gap: 1rem;
    text-align: center;
    border-radius: 2px solid orange;
}

.column-one{
    grid-area: column1;

}

.column-two{
    grid-area: column2;
}

.column-three{
    grid-area: column3;
}

.column-four{
    grid-area: column4;
}

/* for a grid to work properly, after applying it to the general
grid container as shown above, apply it to its children as shown
below, without this grid applied below, it wont work  */

/* card d and card f are internal divs so display grid
and gap should be applied again */

.card-d{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.card-f{
    display: grid;
    grid-template-columns: .49fr 1fr;
    gap: 1rem;
    
}



/* UI COMPONENT */

.card-a{
    background-color: hsl(31, 66%, 93%);
    border-radius: 1rem;
}

.card-b{
    background-color:hsl(39, 100%, 71%) ;
    border-radius: 1rem;
}

.card-c{
    background-color: hsl(256, 67%, 59%);
    border-radius: 1rem;
}


.d-1{
    background-color: white;
    border-radius: 1rem;
}

.d-2{
    background-color: hsl(39, 100%, 71%);
    border-radius: 1rem;
}


.col-3{
    background-color: hsl(254, 88%, 90%);
    border-radius: 1rem;
}

.f-1{
    background-color: white;
    border-radius: 1rem;
}

.f-2{
    background-color: hsl(256, 67%, 59%);
    border-radius: 1rem;
}

/* ALIGNING ELEMENTS INSIDE AN INNER DIV */

.col-1{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
}


.f-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.f-2{
    display: flex;
    justify-content: space-around;
}

.col-3{
    display: grid;
    grid-template-rows: 6rem 6rem 6rem;
    text-align: left;
}

.d-1{
    display: grid;
    grid-template-rows: repeat(2, 2rem);
}

/* FONTS STYLING */

.column-one h3{
    margin-top: 1rem;
    font-size: 1.2rem;
    
    
}

.column-one span{
    color: hsl(256, 67%, 59%);
    font-style: italic;
}

.column-two h3{
    margin-top: 2rem;
    font-size: 2rem;
    color: white;
}

.column-two h5{
    margin-top: 1rem;
    font-size: 1.1rem;
    font-weight: 100;
    color: white;
}

.d-1 h3{
    color: black;
    font-size: 1rem;
    text-align: left;
    margin-left: 1.3rem;
}

.d-2 h3{
    color: black;
    font-size: 1rem;
    text-align: left;
    margin-left: 1.3rem;
}

.f-1 h4{
    font-size: 2rem;
    margin-left: 1.5rem;
}

.f-1 p{
    font-size: .7rem;
    margin-left: 1.5rem;
}

.col-2 span{
    color: yellow;
}

.f-2 h3{
    font-size: 1.5rem;
    align-self: center;
    color: white;
    text-align: left;
    margin-left: 1.5rem;
}

.col-3 h4{
    margin-top: 2rem;
font-size: 1rem;
margin-left: 1.5rem;
}

.col-3 p{
    font-size: .9rem;
    margin-top: 7rem;
    margin-left: 1.5rem;
}

/* SPECIFIC IMAGE STYLING */

.d-1 img{
    width: 90%;
    
}

/* The image in this div above isnt coming up to the size i want, why?
either i make it 60% or 40%, the size still remains
the same */

.column-two img{
    width: 40%;
    margin-top: 1rem;
    margin-inline: auto;
}

.d-2 img{
    margin-left: 1rem;
    width: 60%;
}

.f-1 img{
    width: 60%;
    margin-left: 1.5rem 
}

.f-2 img{
    margin-top: 1rem;
    max-width: 8rem;
    height: 80%;
    margin-left: 1.5rem 


}

.col-3 img{
margin-left: 1.2rem;
}

/* MEDIA QUERY FOR RESPONSIVENESS */

@media screen and (max-width: 980px) {
    .grid-column-holder{   
       grid-template-columns: 1fr  1fr;
       grid-template-rows: repeat(3, 13rem);
       grid-template-areas: 'column2 column3' 
                            'column2 column3'
                            'column4 column4'
                            'column1 column1';
    }
    .column-one{
       grid-template-columns: 1fr 1fr;
    }
   }

   @media screen and (max-width: 700px) {
    .grid-column-holder{   
       grid-template-columns: 1fr;
       grid-template-rows: auto;
       grid-template-areas: 'column2' 
                            'column3'
                            'column4'
                            'column1';
    }
    .column-one{
        grid-template-columns: 1fr 1fr;
    }
    .card-d, .card-f, .column-one{
        grid-template-columns: 1fr;
    }
   }
   
/* WHY ARE THE CODE SNIPPETS BELOW NOT GIVING ME WHAT I WANT */

/* LAYOUT STYLING */

/* .grid-template-container{
    border: 2px solid red;
    margin-inline: auto;
}
.grid-column-holder{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 30rem 60rem 30rem;
    grid-template-rows: repeat(3, 13rem);
    grid-template-areas: 'column1 column2 column3'
                         'column1 column2 column3'
                         'column1 column2 column2' ;
}

.grid-items{
    display: grid;
}
.column-one{
    gap: 1rem;
    grid-area: column1;    
}

.column-two{
    grid-area: column2;
}

.column-three{
    grid-area: column3;
} */




/* UI COMPONENT */


/* .card-a{
    background-color:  hsl(31, 66%, 93%);
}

.card-b{
    background-color: hsl(39, 100%, 71%);
}

.card-c{
    background-color: hsl(256, 67%, 59%);
}

.card-d{
    grid-template-columns: 1fr 1fr;
}

.d-1{
    background-color: white;
}

.d-2{
    background-color: hsl(39, 100%, 71%);
} */

/* THIS PARTICULAR CODE SNIPPET BELOW SEEMS TO ALMOST WORK BUT 
THE MAIN ISSUE WITH IT IS THAT AT THE GRID TEMPLATE AREAS, 
WHY CANT I ADD COLUMN 2 TO COLUMN 3 SIDE AS SHOWN BELOW */

/* LAYOUT STYLING  */

/* .grid-template-container{
    max-width: 60%;
    height: 100%;
    border: 2px solid red;
    margin-inline: auto;
}

.grid-column-holder{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(3, 13rem);
    max-width: 60rem;
    margin-inline: auto;
    gap: 1rem;
    grid-template-areas: 'column1 column2 column3' 
                         'column1 column2 column3'
                         'column1 column2 column3'  */

                         /* WHY CANT THE LAST LINE OF GTA 
                         BE column1 column2 column2,
                            MY CODE WOULD HAVE REALLY 
                            COME OUT PERFECT AS I WANTED 
                            IT TO BE*/;
/* }

.grid-column-holder > * {
    display: grid;
    gap: 1rem;
}

.column-one{
    grid-area: column1;
}

.column-two{
    grid-area: column2;
}

.column-three{
    grid-area: column3;
}

.card-e{
    display: grid;
    grid-template-columns: 2fr 6fr;
    gap: 1rem;
}

.col-2{
    height: 33.33%;
}  */

/*why is the height being distortive and not dividing the column
 into 3 equal parts as i thought it will*/

 /* UI COMPONENT */

/* .card-a{
    background-color: hsl(31, 66%, 93%);
}

.card-b{
    background-color:hsl(39, 100%, 71%) ;
}

.card-c{
    background-color: hsl(256, 67%, 59%);
}

.card-d{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.d-1{
    background-color: white;
}

.d-2{
    background-color: hsl(39, 100%, 71%);
}


.e-1{
    background-color: white;
}

.e-2{
    background-color: hsl(256, 67%, 59%);
}

.col-3{
    background-color: hsl(254, 88%, 90%);
} */

/* ALSO FROM A CODE ALONG CODE I USED, I NOTICED HE DIDNT APPLY HEIGHT
OR WIDTH TO ITS GRID CONTAINERS AND MINI-GRID CONTAINERS AND IT CAME
OUT WELL, WHY IS IT SO */
